<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://java.sun.com/xml/ns/persistence                      
    http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

	<persistence-unit name="ncycoaPU" transaction-type="RESOURCE_LOCAL">
		<class>edu.cqu.ncycoa.domain.DataDictionary</class>
		<class>edu.cqu.ncycoa.domain.DataDictionaryItem</class>
		<class>edu.cqu.ncycoa.domain.Log</class>
		<class>edu.cqu.ncycoa.plan.domain.Plan</class>
		<class>edu.cqu.ncycoa.plan.domain.PlanStep</class>
		<class>edu.cqu.ncycoa.plan.domain.PlanInstance</class>
		<class>edu.cqu.ncycoa.plan.domain.PlanTask</class>
		<class>edu.cqu.ncycoa.domain.Supplier</class>
		<class>edu.cqu.ncycoa.domain.EvaluDefine</class>
		<class>edu.cqu.ncycoa.domain.EvaluResult</class>
		<class>edu.cqu.ncycoa.domain.GoodsUsed</class>
		<class>edu.cqu.ncycoa.domain.ContractInfo</class>
		<class>edu.cqu.ncycoa.domain.MeetingInfo</class>
		<class>edu.cqu.ncycoa.safety.PressurePipe</class>
		<class>edu.cqu.ncycoa.safety.SpecialEquipment</class>
		<class>edu.cqu.ncycoa.safety.SubSpecialEquipment</class>
	</persistence-unit>

</persistence> 